# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Data / outputs
images/
*.csv
